<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>Pinterest-Clone</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <style>
      .remove-arrow::-webkit-inner-spin-button,
      .remove-arrow::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      ::-webkit-scrollbar {
        width: 6px;
      }

      ::-webkit-scrollbar-thumb {
        background-color: rgb(216, 216, 216);
        border-radius: 40px;
      }

      ::-webkit-scrollbar-track {
        background-color: transparent;
      }
    </style>
  </head>
  <body></body>
</html>
