<div class="relative m-2 p-4 flex justify-start">
  
    <a href="#"
      ><img
        class="absolute w-10 h-10"
        src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png"
        alt=""
    /></a>
    <ul
      class="absolute top-6 left-20 flex flex-row justify-start gap-10 font-semibold"
    >
      <li><a href="/home">Home</a></li>
      <li><a href="">Explore</a></li>
      <li><a href="/create">Create</a></li>
    </ul>
    <input
      class="absolute bg-zinc-200 w-[60vw] h-12 right-44 rounded-full p-4"
      type="search"
      name="search"
      id="search"
      placeholder="Search your pins"
    />
    <div class="absolute top-7 right-4">
      <ul class="flex gap-6">
        <li><a href="/profile"><i class="ri-account-pin-circle-fill text-3xl"></i></a></li>
        <li><a class="bg-[#D50C22] rounded-full p-4 font-semibold text-white" href="/logout">logout</a></li>
      </ul>
    </div>
  </div>